@import "./mixing";
@import "./specific";

.HeaderFlex {
    @include breakpoint(MScreen){
        flex-wrap: wrap;
        justify-content: center!important;
    }
}
.headerinfo{
    ul{
    display: flex;
    align-items: center;
    gap: 10px;
    @include breakpoint(MScreen){
        flex-wrap: wrap;
        justify-content: center!important;
        margin-top: 15px;
    }
    li{
        font-size:16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
}

.logo{
    img{
        height: 40px;
    }
}

